.phandau {
  background-color:#40E0D0;
  text-align: center;
  padding: 30px; 
  }
.a{
background-color: lightgray;
color: white;
 
}

.gioithieu.a:hover{
  background-color: cyan;
  display: block;
}
.noidung{}
.gioithieu{
  background-color: black;
}
.box{
  margin:10px;
  padding: 10px;
}


  
