.phandau {
  background-color:#40E0D0;
  text-align: center;
  padding: 30px; 
  }
a{
background-color: ;
color:#E8E8E8;
 }

.box:hover {
  background-color: ;
  font-size: 18px;
}
.noidung{}
.gioithieu{
  background-color: black;
}
.box{
  margin:10px;
  padding: 10px;
}


  
